.header{
    height: 60px;
    display: flex;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;

    z-index: 1000;
}

.left{
    /* background-color: lightblue; */
    /* width: 150px; */
    display: flex;
    align-items: center;
}

.ham{
    height: 34px;
    margin-left: 24px;
    margin-right: 16px;
    cursor: pointer;
}

.you{
    height: 60px;
    cursor: pointer;
}

.middle{
    /* background-color: lightpink; */
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 635px;
    display: flex;
    align-items: center;
}

.search-bar{
    flex: 1;
    height: 36px;
    padding-left: 12px;
    font-size: 16px;
    /* border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192); */
    border: 1px solid rgb(192, 192, 192);
    box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.05);
    width: 0;
    /* border-radius: 20px; */
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.search-bar::placeholder{
    font-family: 'Roboto';
    font-size: 16px;
}

.sear-b{
    height: 40px;
    width: 66px;
    background-color: rgb(247, 247, 247);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    margin-left: -1px;
    margin-right: 10px;
    /* border-radius: 20px; */
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.sear-b, .mic-b, .right1, .noti-num, .right3{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.sear-b .tool, .mic-b .tool, .right1 .tool, 
.noti-num .tool, .right3 .tool{
    position: absolute;
    background-color: grey;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 8px;
    padding-left: 8px;
    font-size: 12px;
    border-radius: 2px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}

.sear-b:hover .tool, .mic-b:hover .tool, .right1:hover .tool,
.noti-num:hover .tool, .right3:hover .tool{
    opacity: 1;
}

.sear{
    height: 26px;
}

.mic-b{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(248, 248, 248);
    margin-left: 6px;
}

.mic{
    height: 22px;
}

.right{
    /* background-color: lightblue;  */
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
    flex-shrink: 0;
}

.cr{
    height: 44px;
    margin-right: 10px;
}

.noti{
    height: 24px;
    margin-right: 10px;
}

.noti-num{
    position: relative;
}

.noti-cnt{
    position: absolute;
    top: -1px;
    right: 3px;
    background-color: red;
    color: white;
    font-size: 8px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 30px;
}

.prof{
    height: 36px;
    border-radius: 18px;
    margin-left: 16px;
}